@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.dark {
  background-color: hsl(207, 26%, 17%);
  color: white;
}
.card-dark {
  background-color: hsl(209, 23%, 22%);
}
body {
  width: 100vw;
  height: 100vh;
}
option {
  background-color: transparent;
}
.countries {
  margin: auto;
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr;
}
.countries div {

  border-radius: 5px;
}
img{
  border-radius: 5px 5px 0px 0px;

}
.details {
  padding: 10px;
}
@media (max-width: 500px) {
  .countries {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }
  .countries>div {
    width: 90%;
    height: fit-content;
  }
  .countries img {
    width: 100%;
    height: 300px;
  }
  .details{
    width: 100%;
    border-radius: 0px;
  }
}
@media (min-width: 600px) {
  .countries {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1190px) {
  .countries {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 1250px) {
  .countries {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (min-width: 1400px) {
  .countries {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }
}

img {
  width: 100%;
  height: 150px;
}
.nav-bar {
  height: 40px;
  border: solid;
  width: 100%;
}
